/* Sub-header */
.sub-header {
    background-color: white;
    padding: 0px 0px;
}

.sub-container {
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
}

.category-select,
.search-box {
    height: 48px;
    padding: 0 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    background-color: white;
}

.search-box {
    flex: 1;
}

.sub-buttons {
    display: flex;    
    gap: 10px;
    align-items: stretch;
}

.sub-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.signin-btn {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

.signin-btn:hover {
    background-color: #007bff;
    color: white;
}

.post-job-btn {
    
    background-color: #007bff;
    color: white;
}

.post-job-btn:hover {
    background-color: #0056b3;
}